.blog-container{
    height:100vh;
    margin-top:-100vh;
    position: absolute;
    background: radial-gradient( #071b42, #000921);
    width:100%;
    scroll-behavior: none;
    overflow:none;

}

.blog-container h1{

    color:#daf4f8;
    font-size:56px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    max-width:100%;
    margin:0 auto;
   
}

.blog-container h1 span{
    background: linear-gradient(to right, #0249cc 40%, #215591, #539AD3);
    filter:brightness(150%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}
@media (max-width:776px){

    .blog-container{
        overflow-x: hidden;
        width:100%;
    }
    .blog-container h1{
        text-align: left;
      
        overflow-x: hidden;
    }
}

/* .blog-container {
    height: 100vh;
    margin-top: -100vh;
    position: absolute;
    background: radial-gradient(#071b42, #000921);
    width: 100%;
    margin-top:-100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;  /* Prevents unwanted scrolling */
    /* padding: 20px; 
}

.instagram-embed {
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.instagram-embed iframe{
    border: 10px; 
}

@media (max-width: 768px) {
    .blog-container {
        max-width:92%;
        overflow-x: hidden; 
    }

    .instagram-embed {
        width: 90vw;
        height:50vh;
    }

    .instagram-embed iframe {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height:50vh;
    }
} */